### Data Wrangling Serum _metabolites concentration values  Part 2: 
Amnah Siddiqa ; 13-08-2021

- Input Table: serum_metabolites_concentrations.csv coming from Part1 python Notebook 
- output Table: serum_metabolites_convalues_unique.csv

### Summary: 
- starting from 11076 values ; we end up with one value against each HMDB id having 2753 unique (HMDB) ids having a blood concentration value in total at the end ;

In [4]:
#library(dplyr)
#load libraries 
shhh <- suppressPackageStartupMessages # It's a library, so shhh!
shhh(library(tidyverse))

In [6]:

serum.metabolites<-read.csv ("output/serum_metabolites_concentrations.csv")
#11076 rows


#remove all the empty lines in value column ; which exists because the publications exists for the Not Quantifoed cell value; see e.g. HMDB0000008
serum.metabolites<-serum.metabolites[!(serum.metabolites$concentration_value == ""), ]

#separate concentration values column based on multiple delimiters 
#first +/-
serum.metabolites<-serum.metabolites %>% separate(col=concentration_value, into="value", sep = "(?=\\+|-)")

#second based on parentheses (
serum.metabolites<-serum.metabolites %>% separate(col=value, into="value", sep = "\\(| ()")

#third remove > 
serum.metabolites<-serum.metabolites%>%
                    mutate(value= str_remove_all(value , "<"))


serum.metabolites$value<-as.numeric(as.character(serum.metabolites$value))
str(serum.metabolites)

#convert back to decimals instaed of scientific notations  
options(scipen = 999)

serum.metabolites<-serum.metabolites%>%
                    group_by(HMDB_accession)%>% 
                    mutate(Med=median(value))%>%
                    dplyr::select( HMDB_accession, Med)


serum.metabolites= serum.metabolites[!duplicated(serum.metabolites$HMDB_accession),]
length(unique(serum.metabolites$HMDB_accession))
#2753


write.csv(serum.metabolites, "Output/serum_metabolites_convalues_unique.csv", row.names = FALSE)

Warning message:
“Expected 1 pieces. Additional pieces discarded in 7947 rows [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, ...].”
Warning message:
“Expected 1 pieces. Additional pieces discarded in 7663 rows [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 16, 17, 18, 19, 20, 21, 24, ...].”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

'data.frame':	9226 obs. of  10 variables:
 $ X                  : int  0 1 2 3 4 5 6 7 8 9 ...
 $ HMDB_accession     : chr  "HMDB0000001" "HMDB0000001" "HMDB0000001" "HMDB0000001" ...
 $ biospecimen        : chr  "Blood" "Blood" "Blood" "Blood" ...
 $ value              : num  7.7 14.4 19.6 12.7 20.2 9.1 4 0.04 3.33 9.4 ...
 $ concentration_units: chr  "uM" "uM" "uM" "uM" ...
 $ subject_age        : chr  "Adult (>18 years old)" "Adult (>18 years old)" "Adult (>18 years old)" "Adult (>18 years old)" ...
 $ subject_sex        : chr  "Both" "Both" "Both" "Both" ...
 $ subject_condition  : chr  "Normal" "Normal" "Normal" "Normal" ...
 $ reference_text     : chr  "Dohm GL, Williams RT, Kasperek GJ, van Rij AM: Increased excretion of urea and N tau -methylhistidine by rats a"| __truncated__ "Dohm GL, Williams RT, Kasperek GJ, van Rij AM: Increased excretion of urea and N tau -methylhistidine by rats a"| __truncated__ "Dohm GL, Williams RT, Kasperek GJ, van Rij AM: Increased excretion of urea and N tau -methylhistidine by rats a"| __truncated__ "Dohm GL, Williams RT, Kasperek GJ, van Rij AM: Increased excretion of urea and N tau -methylhistidine by rats a"| __truncated__ ...
 $ pubmed_id          : logi  NA NA NA NA NA NA ...

[1] 2753

ERROR: Error in serum.metabolites.head(): could not find function "serum.metabolites.head"

In [7]:
head(serum.metabolites)

  HMDB_accession Med
1 HMDB0000001    12.70
2 HMDB0000002     0.04
3 HMDB0000005     8.60
4 HMDB0000008    17.45
5 HMDB0000011    86.00
6 HMDB0000012     0.15